<form [formGroup]="agentForm" (ngSubmit)="onSubmit()" class="px-[3%] py-3 md:py-5">
        <div class="bg-white w-full rounded-3xl shadow p-[2%]">
      <div class="flex justify-between h-12">
        <h1 class="text-[--blue-text] text-lg font-bold">Create Agent</h1>
      </div>
      <div class="md:flex pb-5 gap-10">
        <div class="w-full md:w-1/2">
          <div class="py-2">Name</div>
          <input formControlName="name" class="bg-[--input] h-[50px] w-full rounded-lg p-2 outline-none focus:ring-1 focus:ring-[--primary]" type="text" id="name">
        </div>
        <div class="w-full md:w-1/2">
          <div class="py-2">Remarks</div>
          <input formControlName="remarks" class="bg-[--input] h-[50px] w-full rounded-lg p-2 outline-none focus:ring-1 focus:ring-[--primary]" type="text" id="remarks">
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <button type="button" class="h-14 w-36 text-[--primary] border-[--primary] border hover:text-white hover:bg-black font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline" [routerLink]="['/agent']">
          Cancel
        </button>
        <button type="submit" class="h-14 w-36 bg-[--primary] hover:bg-black text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
          Submit
        </button>
      </div>
    </div>
  </form>
  