<div class="flex h-full bg-[--body]">
  <!-- Overlay -->
  <div 
    *ngIf="isSidebarOpen$ | async" 
    (click)="sidebarService.toggleSidebar()"
    class="fixed inset-0 bg-black/40 backdrop-blur-sm transition-opacity duration-300 lg:hidden z-20">
  </div>

  <!-- Sidebar -->
  <aside 
    [ngClass]="{
      'translate-x-0 w-60 fixed overflow-y-auto': (isSidebarOpen$ | async) ?? true,
      '-translate-x-full max-lg:fixed lg:translate-x-0 lg:w-16': !((isSidebarOpen$ | async) ?? true)
    }"
   
    class=" top-0 left-0 z-30   h-screen transform transition-all duration-300 ease-in-out 
           bg-white ">
    <app-sidebar [isExpanded]="(isSidebarOpen$ | async) ?? true || !isDesktop"></app-sidebar>
  </aside>

  <!-- Main Content -->
  <main [ngClass]="{
    'lg:ml-60  md:w-[calc(100%-15rem)] min-h-[90vh]': (isSidebarOpen$ | async) ?? true,

  }" 
    class=" transition-all duration-300 ease-in-out w-full">
    <div class="h-full ">
      <router-outlet></router-outlet>
    </div>
    <footer class="px-4 md:px-8 py-6  ">
      <h1 class="font-semibold text-sm md:text-base text-[--blue-text]">Copyright &copy; Kalapi 2023</h1>
    </footer>
  </main>
</div>