<div  class=" bg-[--primary] w-full h-14 flex justify-between px-[3%] font-semibold  text-white items-center "> <div class="flex items-center gap-2"><img class="w-6" src="/nav.svg" alt=""><h1 class="text-2xl">{{title}}</h1></div> <div class="flex items-center gap-2"><h1>Kalapi-Printer</h1><img class="rounded-full overflow-hidden" src="/profile.png" alt=""></div></div>



<div class="px-[3%] py-3 md:py-5">
    <div class=" bg-white w-full rounded-3xl shadow p-[3%] ">
        <div class="flex justify-between h-12  "><h1 class="text-[--blue-text] text-lg font-bold">{{title}}</h1>
            <div class="flex gap-2"><input class="bg-[--input] px-3" placeholder="Name or Remarks" type="text"><button class="w-24 font-semibold text-white bg-[--primary] hover:bg-black rounded-lg">Filter</button><button class="flex items-center justify-center bg-[--primary] hover:bg-black gap-2 w-24 rounded-lg font-semibold text-white "><span class=" text-3xl">+</span><h2>Add</h2></button></div></div>
            
            
            <div class="pt-10">
            <div class="grid grid-cols-3  border">
                <div class="bg-[--input] py-1 font-bold text-sm px-2">Name</div>
                <div class="bg-[--input] py-1 font-bold text-sm px-2">Remarks</div>
                <div class="bg-[--input] py-1 font-bold text-sm px-2">Action</div>
                <div class="col-span-3 text-center text-sm text-[--blue-text] px-2 py-1"> Currently no any agents available into system</div>
            </div>
        </div>
    </div>
</div>