<div>
    
    <div class="px-[3%] py-3 md:py-5">
        <div class=" bg-white w-full rounded-3xl shadow p-[3%] ">
            <div class="flex justify-between h-12  "><h1 class="text-[--blue-text] text-lg font-bold">Transport</h1>
                <div class="flex gap-2"><input class="bg-[--input] px-3" placeholder="Name or Remarks" type="text"><button class="w-24 font-semibold text-white hover:bg-black bg-[--primary] rounded-lg">Filter</button><button routerLink="add" class="flex items-center justify-center hover:bg-black bg-[--primary] gap-2 w-24 rounded-lg font-semibold text-white "><span class=" text-3xl">+</span><h2>Add</h2></button></div></div>
                
                
                <div class="pt-10">
                <div class="grid grid-cols-3  border">
                    <div class="bg-[--input] py-1 font-bold text-sm px-2">Name</div>
                    <div class="bg-[--input] py-1 font-bold text-sm px-2">Remarks</div>
                    <div class="bg-[--input] py-1 font-bold text-sm px-2">Action</div>
                    <div class="col-span-3 text-center text-sm text-[--blue-text] px-2 py-1"> Currently no any Transport available into system</div>
                </div>
            </div>
        </div>
    </div>
  </div>  