<div  class=" bg-[--primary] w-full h-14 flex justify-between px-[2%] font-semibold  text-white items-center "> <div class="flex items-center gap-2"><img class="w-6" src="/nav.svg" alt=""><h1 class="text-2xl">{{title}}</h1></div> <div class="flex items-center gap-2"><h1>Kalapi-Printer</h1><img class="rounded-full overflow-hidden" src="/profile.png" alt=""></div></div>

<div class="px-[3%] py-3 md:py-5">
    <div class=" bg-white w-full rounded-3xl shadow p-[3%] ">
        <label class=" font-bold  text-[--blue-text]">Search By:</label>
        <select class="bg-[--input] h-11 w-36 rounded-lg mx-4 pl-2 font-semibold text-sm" name="" id="">
            <option class="bg-[--input]" value="">Select Type</option>
            <option class="bg-[--input]" value="">Design No</option>
            <option class="bg-[--input]" value="">Program No</option>
        </select>
        <input type="text" class="bg-[--input] h-12 w-64 px-2 rounded-lg mx-4 pl-2  text-sm" placeholder="Number">
        <button class="bg-[--primary] hover:bg-black h-11 w-40 rounded-lg mx-2 pl-2 font-semibold text-sm text-white">
            Search
        </button>
    </div>
</div>