<div>
  <app-header [title]="'Dashboard'"></app-header>
  <div class=" px-[3%] py-3 md:py-5">
    <div class="flex max-sm:flex-col space-y-3 items-center bg-white w-full rounded-3xl shadow md:p-[3%] p-[5%]">
        <div class="max-sm:text-center font-bold  text-[--blue-text]">Search By:</div>
        <select class="outline-1 outline-[--primary]  max-sm:w-full bg-[--input] h-11 w-36 rounded-lg mx-4 pl-2 font-semibold text-sm" name="" id="">
            <option class="bg-[--input]" value="">Select Type</option>
            <option class="bg-[--input]" value="">Design No</option>
            <option class="bg-[--input]" value="">Program No</option>
        </select>
        <input type="text" class="outline-1 outline-[--primary] max-sm:w-full  bg-[--input] h-12 w-64 px-2 rounded-lg mx-4 pl-2  text-sm" placeholder="Number">
        <button class="max-sm:w-full bg-[--primary] hover:bg-black h-11 w-40 rounded-lg mx-2 pl-2 font-semibold text-sm text-white">
            Search
        </button>
    </div>
  </div>
</div>