<div class="px-[3%] py-3 md:py-5">
    <div class=" bg-white w-full rounded-3xl shadow p-[3%] ">
        <div class="md:flex justify-between  md:h-12  "><h1 class="text-[--blue-text] text-lg font-bold max-sm:py-2">Agent</h1>
            <div class="md:flex gap-2 max-sm:space-y-2"><input class="bg-[--input] px-3 max-sm:w-full max-sm:h-12 rounded-md" placeholder="Name or Remarks" type="text"><button class="w-24 font-semibold text-white bg-[--primary] hover:bg-black rounded-lg max-sm:w-full  max-sm:h-12">Filter</button><button routerLink="add" class="flex items-center justify-center bg-[--primary] hover:bg-black gap-2 w-24 rounded-lg font-semibold text-white max-sm:w-full  max-sm:h-12"><span class=" text-3xl">+</span><h2 >Add</h2></button></div></div>
            
            
            <div class="pt-10 overflow-auto">
            <div class="grid grid-cols-3  border">
                <div class="bg-[--input] py-1 font-bold text-sm px-2">Name</div>
                <div class="bg-[--input] py-1 font-bold text-sm px-2">Remarks</div>
                <div class="bg-[--input] py-1 font-bold text-sm px-2">Action</div>
                <div class="col-span-3 text-center text-sm text-[--blue-text] px-2 py-1"> Currently no any agents available into system</div>
            </div>
        </div>
    </div>
</div>